<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="quartzJobUpdateTasksAndDevelopers"
          class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="updateTasksAndDevelopers"></property>
        <property name="targetMethod" value="updateFinishedTasks"></property>
        <property name="concurrent" value="false"></property>
    </bean>

    <bean id="quartzJobUpdateDataCache"
          class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="updateCache"></property>
        <property name="targetMethod" value="updateData"></property>
        <property name="concurrent" value="false"></property>
    </bean>

    <bean id="quartzTriggerTask" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="quartzJobUpdateTasksAndDevelopers"></property>
        <property name="cronExpression" value="0 0 2 ? * 6"></property>
    </bean>

    <bean id="quartzTriggerCache" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="quartzJobUpdateDataCache"></property>
        <property name="cronExpression" value="0 0 2 ? * 7"></property>
    </bean>

    <bean id="quartzScheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="quartzTriggerTask"/>
                <ref bean="quartzTriggerCache"/>
            </list>
        </property>
    </bean>

</beans>