<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.buaa.act.sdp.topcoder.dao.ChallengeRegistrantDao">

    <insert id="insertBatch" parameterType="com.buaa.act.sdp.model.challenge.ChallengeRegistrant" useGeneratedKeys="true"
            keyProperty="id">
        insert into challenge_registrant(challengeID,handle,reliability,registrationDate,submissionDate,rating) values
        <foreach collection="array" item="item" index="index" separator=",">
            (#{item.challengeID},#{item.handle},#{item.reliability},#{item.registrationDate},#{item.submissionDate},#{item.rating})
        </foreach>
    </insert>

    <select id="getRegistrantCountByTaskId" resultType="java.lang.Integer">
        select count(DISTINCT handle) from challenge_registrant where challengeID=#{challengeId}
    </select>

    <select id="getAllChallengeRegistrants" resultType="com.buaa.act.sdp.topcoder.model.challenge.ChallengeRegistrant">
        SELECT  challengeID ,handle from challenge_registrant;
    </select>

    <select id="getUserRegistrantTimes" resultType="java.lang.Integer">
        select count(DISTINCT challengeID) from challenge_registrant where handle=#{handle}
    </select>
</mapper>