<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.buaa.act.sdp.topcoder.dao.ChallengeItemDao">

    <insert id="insert" parameterType="com.buaa.act.sdp.topcoder.model.challenge.ChallengeItem">
        insert into challenge_item(
                        challengeId,
                        challengeName,
                        challengeType,
                        projectId,
                        forumId,
                        detailedRequirements,
                        screeningScorecardId,
                        reviewScorecardId,
                        numberOfCheckpointsPrizes,
                        topCheckPointPrize,
                        currentStatus,
                        postingDate,
                        registrationEndDate,
                        submissionEndDate,
                        finalFixEndDate,
                        appealsEndDate,
                        checkpointSubmissionEndDate,
                        forumLink,
                        registrationStartDate,
                        digitalRunPoints,
                        reliabilityBonus,
                        technology,
                        prize,
                        platforms,
                        numSubmissions,
                        numRegistrants
                        )  values(
                        #{challengeId},
                        #{challengeName},
                        #{challengeType},
                        #{projectId},
                        #{forumId},
                        #{detailedRequirements},
                        #{screeningScorecardId},
                        #{reviewScorecardId},
                        #{numberOfCheckpointsPrizes},
                        #{topCheckPointPrize},
                        #{currentStatus},
                        #{postingDate},
                        #{registrationEndDate},
                        #{submissionEndDate},
                        #{finalFixEndDate},
                        #{appealsEndDate},
                        #{checkpointSubmissionEndDate},
                        #{forumLink},
                        #{registrationStartDate},
                        #{digitalRunPoints},
                        #{reliabilityBonus},
                        #{technology,javaType=[Ljava.lang.String;, jdbcType=VARCHAR},
                        #{prize,javaType=[Ljava.lang.String;, jdbcType=VARCHAR},
                        #{platforms,javaType=[Ljava.lang.String;, jdbcType=VARCHAR},
                        #{numSubmissions},
                        #{numRegistrants})
    </insert>

    <select id="getChallengeItemById" parameterType="int"
            resultType="com.buaa.act.sdp.topcoder.model.challenge.ChallengeItem">
        select * from challenge_item where challengeId = #{challengeId}
    </select>

    <select id="getChallengeIds" resultType="java.lang.Integer">
        select challengeId from challenge_item
    </select>

    <select id="getAllChallenges" resultType="com.buaa.act.sdp.topcoder.model.challenge.ChallengeItem">
        select * from challenge_item
    </select>

    <update id="updateChallenge" parameterType="com.buaa.act.sdp.topcoder.model.challenge.ChallengeItem">
          UPDATE challenge_item SET duration=#{duration} , numSubmissions=#{numSubmissions} , numRegistrants=#{numRegistrants} ,languages=#{languages} where challengeId=#{challengeId}
    </update>

    <select id="getProjectId" resultType="java.util.Map">
        SELECT challengeId,projectId,challengeType from challenge_item where projectId>0
    </select>

    <select id="projectExist" resultType="int">
        SELECT count(*) from challenge_item where projectId=#{projectId}
    </select>

    <select id="getProjectTasks" resultType="java.lang.Integer">
        SELECT challengeId from challenge_item where projectId=#{projectId}
    </select>

</mapper>