<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.buaa.act.sdp.topcoder.dao.DevelopmentDao">
    <insert id="insertBatch" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
        insert into development(
        handle,
        developType,
        rating,
        reliability,
        activePercentile,
        activeRank,
        activeCountryRank,
        activeSchoolRank,
        overallPercentile,
        overallRank,
        overallCountryRank,
        overallSchoolRank,
        volatility) values
        <foreach collection="list" item="item" index="index" separator=",">(
            #{item.handle},
            #{item.developType},
            #{item.rating},
            #{item.reliability},
            #{item.activePercentile},
            #{item.activeRank},
            #{item.activeCountryRank},
            #{item.activeSchoolRank},
            #{item.overallPercentile},
            #{item.overallRank},
            #{item.overallCountryRank},
            #{item.overallSchoolRank},
            #{item.volatility})
        </foreach>
    </insert>

    <update id="updateBatch" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" separator=",">
            UPDATE development set
            rating=#{item.rating},
            reliability=#{item.reliability},
            activePercentile=#{item.activePercentile},
            activeRank=#{item.activeRank},
            activeCountryRank=#{item.activeCountryRank},
            activeSchoolRank=#{item.activeSchoolRank},
            overallPercentile=#{item.overallPercentile},
            overallRank=#{item.overallRank},
            overallCountryRank=#{item.overallCountryRank},
            overallSchoolRank=#{item.overallSchoolRank},
            volatility=#{item.volatility} where handle=#{item.handle} and developType=#{ietm.developType}
        </foreach>
    </update>
</mapper>