<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.buaa.act.sdp.topcoder.dao.TaskSubmissionDao">

    <insert id="insertBatch" parameterType="com.buaa.act.sdp.topcoder.model.task.TaskSubmission"
            useGeneratedKeys="true"
            keyProperty="id">
        insert into
        challenge_submission(challengeID,handle,placement,submissionDate,submissionStatus,points,finalScore,screeningScore,initialScore,submissionDownloadLink)
        values
        <foreach collection="array" item="item" index="index" separator=",">
            (#{item.challengeID},#{item.handle},#{item.placement},#{item.submissionDate},#{item.submissionStatus},#{item.points},#{item.finalScore},#{item.screeningScore},#{item.initialScore},#{item.submissionDownloadLink})
        </foreach>
    </insert>

    <select id="getTaskSubmissionCount" resultType="java.lang.Integer">
        SELECT count(DISTINCT handle) from challenge_submission where challengeID=#{challengeId};
    </select>

    <select id="getTaskSubmissionMsg" resultType="com.buaa.act.sdp.topcoder.model.task.TaskSubmission">
        SELECT handle,challengeId,submissionDate,finalScore,placement,submissionStatus from  challenge_submission ORDER BY challengeID ASC;
    </select>

</mapper>