<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.buaa.act.sdp.topcoder.dao.TaskItemDao">

    <insert id="insert" parameterType="com.buaa.act.sdp.topcoder.model.task.TaskItem">
        insert into challenge_item(
                        challengeId,
                        challengeName,
                        challengeType,
                        projectId,
                        forumId,
                        detailedRequirements,
                        screeningScorecardId,
                        reviewScorecardId,
                        numberOfCheckpointsPrizes,
                        topCheckPointPrize,
                        currentStatus,
                        postingDate,
                        registrationEndDate,
                        submissionEndDate,
                        finalFixEndDate,
                        appealsEndDate,
                        checkpointSubmissionEndDate,
                        forumLink,
                        registrationStartDate,
                        digitalRunPoints,
                        reliabilityBonus,
                        technology,
                        prize,
                        platforms,
                        numSubmissions,
                        numRegistrants,
                        languages,
                        duration
                        )  values(
                        #{challengeId},
                        #{challengeName},
                        #{challengeType},
                        #{projectId},
                        #{forumId},
                        #{detailedRequirements},
                        #{screeningScorecardId},
                        #{reviewScorecardId},
                        #{numberOfCheckpointsPrizes},
                        #{topCheckPointPrize},
                        #{currentStatus},
                        #{postingDate},
                        #{registrationEndDate},
                        #{submissionEndDate},
                        #{finalFixEndDate},
                        #{appealsEndDate},
                        #{checkpointSubmissionEndDate},
                        #{forumLink},
                        #{registrationStartDate},
                        #{digitalRunPoints},
                        #{reliabilityBonus},
                        #{technology,javaType=[Ljava.lang.String;, jdbcType=VARCHAR},
                        #{prize,javaType=[Ljava.lang.String;, jdbcType=VARCHAR},
                        #{platforms,javaType=[Ljava.lang.String;, jdbcType=VARCHAR},
                        #{numSubmissions},
                        #{numRegistrants},
                        #{languages,javaType=[Ljava.lang.String;, jdbcType=VARCHAR},
                        #{duration})
    </insert>

    <select id="getTaskItemById" parameterType="int"
            resultType="com.buaa.act.sdp.topcoder.model.task.TaskItem">
        select * from challenge_item where challengeId = #{challengeId}
    </select>

    <select id="getTaskIds" resultType="java.lang.Integer">
        select challengeId from challenge_item
    </select>

    <select id="getTasksByIds" resultType="com.buaa.act.sdp.topcoder.model.task.TaskItem">
        select * from challenge_item where challengeId in
        <foreach collection="taskIds" item="item" index="index" separator="," open="(" close=")">
            #{item}
        </foreach>
        AND challengeType in
        <foreach collection="set" index="index" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
    </select>

    <select id="getTasks" resultType="com.buaa.act.sdp.topcoder.model.task.TaskItem">
        select * from challenge_item where challengeType in
        <foreach collection="set" index="index" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
        limit #{offSet},#{pageSize}
    </select>

    <update id="update" parameterType="com.buaa.act.sdp.topcoder.model.task.TaskItem">
            UPDATE challenge_item SET duration=#{duration} , numSubmissions=#{numSubmissions} ,
            numRegistrants=#{numRegistrants} ,languages=#{languages} where challengeId=#{challengeId}
    </update>

    <select id="getProjectId" resultType="java.util.Map">
        SELECT challengeId,projectId,challengeType from challenge_item where projectId>0
    </select>

    <select id="projectExist" resultType="int">
        SELECT count(*) from challenge_item where projectId=#{projectId}
    </select>

    <select id="getProjectTasks" resultType="com.buaa.act.sdp.topcoder.model.task.TaskItem">
        SELECT * from challenge_item where projectId=#{projectId} and challengeType in
        <foreach collection="set" index="index" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
    </select>

    <select id="getMaxTaskId" resultType="int">
        SELECT max(challengeId) from challenge_item;
    </select>

    <select id="getMaxProjectId" resultType="int">
         SELECT max(projectId) from challenge_item;
    </select>
</mapper>